
@{
    Layout = null;
    @*http://ampleadmin.themedesigner.in/demos/ampleadmin-dark/chartist-js.html*@
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../../SiteTemplates/aadark/plugins/images/favicon.png">
    <title>OmniFlow Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../SiteTemplates/aadark/ampleadmin-dark/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../../SiteTemplates/aadark/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- Calendar CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/calendar/dist/fullcalendar.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="../../SiteTemplates/aadark/ampleadmin-dark/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../SiteTemplates/aadark/ampleadmin-dark/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="../../SiteTemplates/aadark/ampleadmin-dark/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" integrity="sha256-q5+FXlQok94jx7fkiX65EGbJ27/qobH6c6gmhngztLE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css" />


</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="index.html">
                        <!-- Logo icon image, you can use font-icon also --><b>
                            <img src="../../SiteTemplates/aadark/plugins/images/admin-logo.png" alt="home" class="dark-logo" />
                             <!--   <img src="../../SiteTemplates/aadark/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />-->
                        </b>
                        <!-- Logo text image you can use text also -->
                        <span class="hidden-xs">
                            <strong>SIEMENS</strong>
                        <!--This is dark logo text-->
                        <!--<img src="../../SiteTemplates/aadark/plugins/images/admin-text.png" alt="logo" class="dark-logo" />-->
                        <!--This is light logo text-->
                        <!--<img src="../../SiteTemplates/aadark/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />-->
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                
              
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-checkbox-multiple-marked-outline fa-fw"></i> <span class="hide-menu">Multi-Level Dropdown<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="javascript:void(0)"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Second Level Item</span></a> </li>
                            <li> <a href="javascript:void(0)"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Second Level Item</span></a> </li>
                            <li>
                                <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Third Level </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">T</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">M</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">R</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">G</i><span class="hide-menu">Third Level Item</span></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
            
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title"></h4>
                        <h3 id="of_state"></h3>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Dashboard 4</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <div class="row row-in">
                                <div class="col-lg-3 col-sm-6 row-in-br">
                                    <ul class="col-in">
                                        <li>
                                            <span class="circle circle-md bg-danger"><i class="mdi mdi-car-battery"></i></span>
                                        </li>
                                        <li class="col-last"><h3 class="counter text-right m-t-15" id="instdata-VBat">0</h3></li>
                                        <li class="col-middle">
                                            <h4>Battery Volt. [V]</h4>
                                            <div class="progress">
                                                <div id="instdata-vbat-pb" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
                                    <ul class="col-in">
                                        <li>
                                            <span class="circle circle-md bg-info"><i class="mdi mdi-battery-charging-20"></i></span>
                                        </li>
                                        <li class="col-last"><h3 class="counter text-right m-t-15" id="instdata-LEDCurr">0</h3></li>
                                        <li class="col-middle">
                                            <h4>LED Current [A]</h4>
                                            <div class="progress">
                                                <div id="instdata-ledcurr-pb" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-lg-3 col-sm-6 row-in-br">
                                    <ul class="col-in">
                                        <li>
                                            <span class="circle circle-md bg-success"><i class=" wi wi-day-sunny"></i></span>
                                        </li>
                                        <li class="col-last"><h3 class="counter text-right m-t-15" id="instdata-ILED">0</h3></li>
                                        <li class="col-middle">
                                            <h4>LED Intensity [%]</h4>
                                            <div class="progress">
                                                <div id="instdata-iled-pb" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-lg-3 col-sm-6  b-0">
                                    <ul class="col-in">
                                        <li>
                                            <span class="circle circle-md bg-warning"><i class="wi wi-thermometer"></i></span>
                                        </li>
                                        <li class="col-last"><h3 class="counter text-right m-t-15" id="instdata-Temp">0</h3></li>
                                        <li class="col-middle">
                                            <h4>CPU Temp. [ºC]</h4>
                                            <div class="progress">
                                                <div id="instdata-temp-pb" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <h5 id="instdata_last_refresh" class="text-muted text-right m-t-0"></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!--row -->
                <!-- /.row -->
                <div class="row">
                    <!--
                    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
                         <div class="white-box">
                             <h3 class="box-title">Products Yearly Sales</h3>
                             <ul class="list-inline text-right">
                                 <li>
                                     <h5><i class="fa fa-circle m-r-5 text-info"></i>Mac</h5> </li>
                                 <li>
                                     <h5><i class="fa fa-circle m-r-5 text-danger"></i>Windows</h5> </li>

                             </ul>
                             <div id="ct-visits" style="height: 285px;"></div>
                         </div>
                     </div>
                     -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">LED Timing</h3>
                            <h5 class="text-muted m-t-0">After movement detected</h5>

                            <!--<div id="morris-donut-chart" style="height:318px; padding-top: 50px;"></div>-->
                            <div class="ct-gauge-chart" style="height: 300px; padding-top: 50px"></div>

                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Operation Modes</h3>
                            <div class="m-t-20 m-b-20  p-t-10"></div>
                            <ul class="dp-table m-t-30">
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>OFF</b>
                                </li>
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div id="conf-VSB" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>SBy</b>
                                </li>
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div id="conf-VPPir" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>PPir</b>
                                </li>
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div id="conf-Von" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>ON</b>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">LED Intensity</h3>
                            <div class="m-t-20 m-b-20  p-t-10"></div>
                            <ul class="dp-table m-t-30">
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div class="progress-bar progress-bar-info bg-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>OFF</b>
                                </li>
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div id="conf-ISB" class="progress-bar progress-bar-info bg-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>Stand By</b>
                                </li>
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div id="conf-IPPir0" class="progress-bar progress-bar-info bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>PPir</b>
                                </li>
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div id="conf-IPPir1" class="progress-bar progress-bar-info bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>PPir mov.</b>
                                </li>
                                <li>
                                    <div class="progress progress-md progress-vertical-bottom m-0">
                                        <div id="conf-Ion" class="progress-bar progress-bar-info bg-success" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="height:0%;"> <span class="sr-only">88% Complete</span> </div>
                                    </div>
                                    <br /> <b>ON</b>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="bg-theme white-box m-b-0">
                            <ul class="expense-box">
                                <li><i class="wi wi-day-cloudy text-white"></i><span><h1 class="text-white m-b-0">12<sup>o</sup></h1><h4 class="text-white">Clear and sunny</h4></span></li>
                            </ul>
                            <div id="ct-weather" style="height: 120px"></div>
                            <ul class="dp-table text-white">
                                <li>05 AM</li>
                                <li>10 AM</li>
                                <li>03 PM</li>
                                <li>08 PM</li>
                            </ul>
                        </div>
                        <div class="white-box">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h2 class="m-b-0 font-medium">Wednesday</h2>
                                    <h5 class="text-muted m-t-0">February 2017</h5>
                                </div>
                                <div class="col-xs-4">
                                    <div class="circle circle-md bg-success pull-right m-t-10"><i class="wi wi-day-sunny"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">
                                Recent Alerts
                                <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                                    <select class="form-control pull-right row b-none">
                                        <option>February</option>
                                    </select>
                                </div>
                            </h3>
                            <div class="row sales-report">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h2>February 2017</h2>
                                    <p>ALERTS</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 ">
                                    <h1 class="text-right text-info m-t-20">25</h1>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Lvl</th>
                                            <th>DATE</th>
                                            <th>NAME</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="label label-success label-rouded">1</span> </td>
                                            <td class="txt-oflo">Feb 18</td>
                                            <td class="txt-oflo">System updated</td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-warning label-rouded">2</span> </td>
                                            <td class="txt-oflo">Feb 12</td>
                                            <td class="txt-oflo">Low Voltage</td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-info label-rouded">0</span> </td>
                                            <td class="txt-oflo">Feb 12</td>
                                            <td class="txt-oflo">System rebooted</td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-danger label-rouded">3</span> </td>
                                            <td class="txt-oflo">Feb 8</td>
                                            <td class="txt-oflo">Very Low Voltage</td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-info label-rouded">0</span> </td>
                                            <td class="txt-oflo">Feb 4</td>
                                            <td class="txt-oflo">Movement detected</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- start right sidebar -->
                <!-- ============================================================== -->
                <!--<div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br />
                                <li><a href="javascript:void(0)" theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" theme="blue-dark" class="blue-dark-theme working">10</a></li>
                                <li><a href="javascript:void(0)" theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" theme="megna-dark" class="megna-dark-theme">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../../SiteTemplates/aadark/plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../../SiteTemplates/aadark/plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../../SiteTemplates/aadark/plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../../SiteTemplates/aadark/plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../../SiteTemplates/aadark/plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../../SiteTemplates/aadark/plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../../SiteTemplates/aadark/plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../../SiteTemplates/aadark/plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                -->
                <!-- ============================================================== -->
                <!-- end right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Siemens S.A. </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/waves.js"></script>
    <!--Counter js -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!--Morris JavaScript -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/morrisjs/morris.js"></script>
    <!-- chartist chart -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Calendar JavaScript -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/moment/moment.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/calendar/dist/fullcalendar.min.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/calendar/dist/cal-init.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/custom.min.js"></script>
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/dashboard4.js"></script>
    <!-- Custom tab JavaScript -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/cbpFWTabs.js"></script>
    <script type="text/javascript">
        (function () {
                [].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });
        })();
    </script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <!--Style Switcher -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script>



    </script>

    @* MQTT *@
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script>

        //var BROKER_URL = "ws://test.mosquitto.org:8080";
        //var BROKER_URL = "ws://test.mosca.io:80";
        //var BROKER_URL = "ws://iot.eclipse.org:80";
        var BROKER_URL = "ws://52.39.125.106:1885";
        var TOPIC_STATE = "clealp/sie/of/state";
        var TOPIC_INSTDATA = "clealp/sie/of/instdata";
        var TOPIC_CONFDATA = "clealp/sie/of/confdata";
        var TOPIC_MEASURES = "clealp/sie/of/measures";
        var TOPIC_PUT = "clealp/sie/of/put";
        var TOPIC = "clealp/sie/of";

        var client = mqtt.connect(BROKER_URL);

        client.on('connect', function () {
            client.subscribe(TOPIC_INSTDATA);
            client.subscribe(TOPIC_CONFDATA);
            client.subscribe(TOPIC_MEASURES);
            client.subscribe(TOPIC_STATE);
            //client.publish('clealp/sie/of', 'Hello mqtt');
        })

        client.on('message', function (topic, message) {
            // message is Buffer
            console.log(topic+"\n"+message.toString());

            if (topic == TOPIC_INSTDATA) {
                instdata = $.parseJSON(message);
                console.log("inst data was updated");

                //TODO: usar windows.onLoar ou document.ready
                setTimeout(updateinstelems, 2000);
                
            }
            else if (topic == TOPIC_CONFDATA) {
                confdata = $.parseJSON(message);
                console.log("conf data was updated");
                setTimeout(updateconfelems, 2000);
            }
            else if (topic == TOPIC_MEASURES) {
                measures = $.parseJSON(message);
            //    console.log("measures was updated");
                //updatemeasureelems();
            }
            else if (topic == TOPIC_STATE) {
                state = $.parseJSON(message);
                updateStateElems();
            }

            //client.end();
        })
    </script>

    <script>
        var state, measures, instdata, confdata;

        function updateinstelems() {
            console.log("xxx");
            var v = (instdata.VBat / 1000).toFixed(1);
            $('#instdata-VBat').text(v);
            $('#instdata-vbat-pb').width((v / 20) * 100 + "%");

            var i = (instdata.CurrentLed / 1000).toFixed(1);
            $('#instdata-LEDCurr').text(i);
            $('#instdata-ledcurr-pb').width((i / 20) * 100 + "%");

            var ii = (instdata.IntensityLed);
            $('#instdata-ILED').text(ii);
            $('#instdata-iled-pb').width(ii + "%");

            var t = (instdata.TElec / 10).toFixed(1);
            $('#instdata-Temp').text(t);
            $('#instdata-temp-pb').width(t + "%");
            

            $("#instdata_last_refresh").text(instdata.UpdateInstDate + " " + instdata.UpdateInstTime);
        }

        function updateconfelems() {
            // Timing gauge
            new Chartist.Pie(
	            '.ct-gauge-chart',
	            {
	                series: [confdata.T3/1000, confdata.T1, confdata.T2], labels: ["Dim On", "ON", "Dim Off"]
	            },
	            {
	                donut: true,
	                donutWidth: 30,
	                startAngle: 270,
	                total: (confdata.T3 / 1000 + parseFloat(confdata.T1) + parseFloat(confdata.T2)) * 2,
	                low: 0,
	                showLabel: true
	            });

            //
            var v3 = (confdata.V3 / 1000).toFixed(1);
            $('#conf-VSB').height((v3 / 20) * 100 + "%");
            var v2 = (confdata.V2 / 1000).toFixed(1);
            $('#conf-VPPir').height((v2 / 20) * 100 + "%");
            var v1 = (confdata.V1 / 1000).toFixed(1);
            $('#conf-Von').height((v1 / 20) * 100 + "%");

            //
            $('#conf-ISB').height(confdata.P2 + "%");
            $('#conf-IPPir0').height(confdata.P1 + "%");
            $('#conf-IPPir1').height(confdata.PPir + "%");
            $('#conf-Ion').height(confdata.POn + "%");
            

        }

        function updateStateElelms(){
            console.log(state);
        }

        function updatemeasureelems() {
        }

    </script>

</body>

</html>