
<!DOCTYPE html>
    <html>
<head>
<meta name="viewport" content="width=device-width,height=device-height,minimum-scale=1,maximum-scale=1" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>

</head>
<body>
<!-- Splash Screen  -->
<div data-role="page" id="article1">
    <div data-role="header" data-theme="b" data-position="fixed" data-id="footer">
        <h1>OMNIconnect</h1>
    </div>
    <div data-role="content">
        <p>splash screen</p>
    </div>
</div>

<!-- InstData -->
<div data-role="page" id="article2">
    <div data-role="header" data-theme="b" data-position="fixed" data-id="footer">
        <a href="#article1" data-icon="home" data-iconpos="notext">Home</a>
        <h1>InstData</h1>
    </div>
    <div data-role="content">
    </div>
</div>

<!-- ConfData  -->
<div data-role="page" id="article3">
    <div data-role="header" data-theme="b" data-position="fixed" data-id="footer">
        <a href="#article1" data-icon="home" data-iconpos="notext">Home</a>
        <h1>ConfData</h1>
    </div>
    <div data-role="content">
    </div>
</div>

<!-- ConfData Edit -->
<div data-role="page" id="article4">
    <div data-role="header" data-theme="b" data-position="fixed" data-id="footer">
        <a href="#article1" data-icon="home" data-iconpos="notext">Home</a>
        <h1>ConfData Edit</h1>
    </div>
    <div data-role="content">        
    </div>
</div>

<!-- Measures -->
<div data-role="page" id="article5">
    <div data-role="header" data-theme="b" data-position="fixed" data-id="footer">
        <a href="#article1" data-icon="home" data-iconpos="notext">Home</a>
        <h1>Measures</h1>
    </div>
    <div data-role="content">        
    </div>
</div>

<!-- Location -->
<div data-role="page" id="article6">
    <div data-role="header" data-theme="b" data-position="fixed" data-id="footer">
        <a href="#article1" data-icon="home" data-iconpos="notext">Home</a>
        <h1>Location</h1>
    </div>
    <div data-role="content">        
    </div>
</div>

<!-- Stream -->
<div data-role="page" id="article7">
    <div data-role="header" data-theme="b" data-position="fixed" data-id="footer">
        <a href="#article1" data-icon="home" data-iconpos="notext">Home</a>
        <h1>Camera Stream</h1>
    </div>
    <div data-role="content">
    </div>
</div>


<script>
$('#article1').on('swipedown',function(){alert("swipedown..");} );
$('#article1').on('swipeup',function(){alert("swipeup..");} );
$(document).on('swipeleft', '.ui-page', function(event){
    if(event.handled !== true) // This will prevent event triggering more then once
    {
        var nextpage = $.mobile.activePage.next('[data-role="page"]');
        // swipe using id of next page if exists
        if (nextpage.length > 0) {
            $.mobile.changePage(nextpage, {transition: "slide", reverse: false}, true, true);
        }
        event.handled = true;
    }
    return false;
});

$(document).on('swiperight', '.ui-page', function(event){
    if(event.handled !== true) // This will prevent event triggering more then once
    {
        var prevpage = $(this).prev('[data-role="page"]');
        if (prevpage.length > 0) {
            $.mobile.changePage(prevpage, {transition: "slide", reverse: true}, true, true);
        }
        event.handled = true;
    }
    return false;
});
</script>
</body>
</html>

