@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script>
        //var client = mqtt.connect('ws://52.39.125.106:1884');
        var client = mqtt.connect('ws://test.mosquitto.org:8080');

        client.on('connect', function () {
            //client.subscribe('owntracks/claudioalpereira/mymi');
            client.subscribe('clealp/sie/of');
            client.publish('clealp/sie/of', 'Hello mqtt');
        })

        client.on('message', function (topic, message) {
            // message is Buffer
            console.log(message.toString());
            client.end();
        })
    </script>
</head>

<body>
    <div id="output"></div>
</body>

</html>


