
@{
    ViewBag.Title = "Dash";
}

<h2>Dash</h2>

<div id="instdata">loading...</div>
<hr />
<div id="confdata">loading...</div>
<hr />
<div id="measures">loading...</div>
<hr />



<script>

    window.addEventListener(
        'load',
        function () {
            setInterval(
                function () {
                    $.getJSON("http://omniflowhttp.apphb.com/api/v1/getconfdata",
                        function (data) {
                            $('#confdata').text(data);
                        }
                    );
                },
                60 * 1000);
        },
        false);


    window.addEventListener(
        'load',
        function () {
            setInterval(
                function () {
                    $.getJSON("http://omniflowhttp.apphb.com/api/v1/getinstdata",
                        function (data) {
                            $('#instdata').text(data);
                        }
                    );
                },
                60 * 1000);
        },
        false);


    window.addEventListener(
        'load',
        function () {
            setInterval(
                function () {
                    $.getJSON("http://omniflowhttp.apphb.com/api/v1/getmeasures",
                        function (data) {
                            $('#measures').text(data);
                        }
                    );
                },
                60 * 1000);
        },
        false);


    </script>
