
@{
    Layout = null;
    @*http://ampleadmin.themedesigner.in/demos/ampleadmin-dark/chartist-js.html*@
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../../SiteTemplates/aadark/plugins/images/favicon.png">
    <title>OmniFlow Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../SiteTemplates/aadark/ampleadmin-dark/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../../SiteTemplates/aadark/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- Calendar CSS -->
    <link href="../../SiteTemplates/aadark/plugins/bower_components/calendar/dist/fullcalendar.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="../../SiteTemplates/aadark/ampleadmin-dark/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../SiteTemplates/aadark/ampleadmin-dark/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="../../SiteTemplates/aadark/ampleadmin-dark/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" integrity="sha256-q5+FXlQok94jx7fkiX65EGbJ27/qobH6c6gmhngztLE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css" />



</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="index.html">
                        <!-- Logo icon image, you can use font-icon also --><b>
                            <img src="../../SiteTemplates/aadark/plugins/images/admin-logo.png" alt="home" class="dark-logo" />
                            <!--   <img src="../../SiteTemplates/aadark/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />-->
                        </b>
                        <!-- Logo text image you can use text also -->
                        <span class="hidden-xs">
                            <strong>SIEMENS</strong>
                            <!--This is dark logo text-->
                            <!--<img src="../../SiteTemplates/aadark/plugins/images/admin-text.png" alt="logo" class="dark-logo" />-->
                            <!--This is light logo text-->
                            <!--<img src="../../SiteTemplates/aadark/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />-->
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Search input and Toggle icon -->


            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-checkbox-multiple-marked-outline fa-fw"></i> <span class="hide-menu">Multi-Level Dropdown<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="javascript:void(0)"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Second Level Item</span></a> </li>
                            <li> <a href="javascript:void(0)"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Second Level Item</span></a> </li>
                            <li>
                                <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Third Level </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">T</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">M</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">R</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">G</i><span class="hide-menu">Third Level Item</span></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title"></h4>
                        <h3 id="of_state"></h3>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Edit</a></li>
                            <li class="active">Edit</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">OmniLED States</h3>
                            <h5 class="text-muted m-t-0">OmniLED state based on battery voltage.</h5>
                                <div data-role="content" class="prevent_swipe">

                                    <!-- V -->
                                    @*<label for="conf_V3">OFF:</label>
                                    <input type="range" name="conf_V3" id="conf_V3" value="[10,15]" min="9" max="17" step="0.5" data-highlight="true">

                                    <label for="conf_V3">StandBy:</label>
                                    <input type="range" name="conf_V3" id="conf_V3" value="10" min="9" max="17" step="0.5" data-highlight="true">

                                    <label for="conf_V2">PPir:</label>
                                    <input type="range" name="conf_V2" id="conf_V2" value="" min="9" max="17" step="0.5" data-highlight="true">

                                    <label for="conf_V1">ON:</label>
                                    <input type="range" name="conf_V1" id="conf_V1" value="" min="9" max="17" step="0.5" data-highlight="true">*@

                                    <div id="range_Voff"></div>
                                    <div id="range_Vsby"></div>
                                    <div id="range_Vppir"></div>
                                    <div id="range_Von"></div>
                                    @*<div>--------------------------------</div>
                                    <div id="range_01"></div>
                                    <div id="range_02"></div>
                                    <div id="range_03"></div>
                                    <div id="range_04"></div>
                                    <div id="range_16"></div>
                                    <div id="range_18"></div>
                                    <div id="range_22"></div>*@
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">LED Intensity</h3>
                            <h5 class="text-muted m-t-0">Based on OmniLED state.</h5>
                            <div id="range_Poff"></div>
                            <div id="range_Psby"></div>
                            <div id="range_PPiroff"></div>
                            <div id="range_PPiron"></div>
                            <div id="range_Pon"></div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">LED Timing on movement detection state (PPir).</h3>
                            <h5 class="text-muted m-t-0"></h5>
                            <div id="range_T3"></div>
                            <div id="range_T1"></div>
                            <div id="range_T2"></div>

                        </div>
                    </div>

                </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="white-box">
                          <div class=" btn btn-default btn-block" onclick="post_new_confData()">Save</div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="white-box">
                          <div class=" btn btn-default btn-block" onclick="update_confData_elems(JSON.parse(localStorage.confData))">Reset</div>
                      </div>
                  </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Siemens S.A. </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/waves.js"></script>
    <!--Counter js -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!--Morris JavaScript -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/morrisjs/morris.js"></script>
    <!-- chartist chart -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Calendar JavaScript -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/moment/moment.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/calendar/dist/fullcalendar.min.js"></script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/calendar/dist/cal-init.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/custom.min.js"></script>
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/dashboard4.js"></script>
    <!-- Custom tab JavaScript -->
    <script src="../../SiteTemplates/aadark/ampleadmin-dark/js/cbpFWTabs.js"></script>
    <script type="text/javascript">
        (function () {
                [].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });
        })();
    </script>
    <script src="../../SiteTemplates/aadark/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <!--Style Switcher -->
    <script src="../../SiteTemplates/aadark/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>

    <script src="~/SiteTemplates/aadark/plugins/bower_components/ion-rangeslider/js/ion-rangeslider/ion.rangeSlider.min.js"></script>
    <script src="~/SiteTemplates/aadark/plugins/bower_components/ion-rangeslider/js/ion-rangeslider/ion.rangeSlider-init.js"></script>
    <link href="~/SiteTemplates/aadark/plugins/bower_components/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/SiteTemplates/aadark/plugins/bower_components/ion-rangeslider/css/ion.rangeSlider.skinSimple.css" rel="stylesheet" />
   
        
        <script>

            var currConfData = {};
            var newConfData = {};

            //if(localStorage.confData){
            //    console.log("11");
            //    currConfData = JSON.parse(localStorage.confData);
            //    console.log("111");
            //}


            var v1 = (currConfData.V1 || 11000 / 1000).toFixed(2);
            var v2 = (currConfData.V2 || 11000 / 1000).toFixed(2);
            var v3 = (currConfData.V3 || 11000 / 1000).toFixed(2);

            
        //http://ionden.com/a/plugins/ion.rangeslider/demo_advanced.html
        //http://ionden.com/a/plugins/ion.rangeSlider/en.html/

            //
            // OmniLED states
            //
        $("#range_Voff").ionRangeSlider({
            min: 9,
            max: 16.5,
            step: 0.1,
            grid: true,
            hide_min_max: true,
            postfix: "V",
            max_postfix: "+",
            min_postfix: "+",
            force_edges: true,
            type: "double",
            from: 9,
            to: 9,
            from_fixed: true,
            onChange: function (data) {
                slider_Vsby.update({from:data.to});
            },
            onFinish: function (data) {
                newConfData.V3 = data.to;
            }
        });
        $("#range_Vsby").ionRangeSlider({
            min: 9,
            max: 16.5,
            step: 0.1,
            grid: true,
            hide_min_max: true,
            postfix: "V",
            max_postfix: "+",
            min_postfix: "+",
            force_edges: true,
            type: "double",
            from: 9,
            to: 9,
            onChange: function (data) {
                slider_Voff.update({ to: data.from/*, to_max: data.to*/ });
                slider_Vppir.update({ from: data.to/*, from_min: data.from*/ });

            },
            onFinish: function (data) {
                newConfData.V3 = data.from;
                newConfData.V2 = data.to;
            }
        });
        $("#range_Vppir").ionRangeSlider({
            min: 9,
            max: 16.5,
            step: 0.1,
            grid: true,
            hide_min_max: true,
            postfix: "V",
            max_postfix: "+",
            min_postfix: "+",
            force_edges: true,
            type: "double",
            from: 9,
            to: 9,
            onChange: function (data) {
                slider_Vsby.update({ to: data.from/*, to_max: data.to*/ });
                slider_Von.update({ from: data.to/*, from_min: data.from*/ });
            },
            onFinish: function (data) {
                newConfData.V2 = data.from;
                newConfData.V1 = data.to;
            }
        });
        $("#range_Von").ionRangeSlider({
            min: 9,
            max: 16.5,
            step: 0.1,
            grid: true,
            hide_min_max: true,
            postfix: "V",
            max_postfix: "+",
            min_postfix: "+",
            force_edges: true,
            type: "double",
            from: 16.5,
            to: 16.5,
            to_fixed: true,
            onChange: function (data) {
                slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                newConfData.V1 = data.from;
            }
        });

        // stores the objects for later updating
        var slider_Voff = $("#range_Voff").data("ionRangeSlider");
        var slider_Vsby = $("#range_Vsby").data("ionRangeSlider");
        var slider_Vppir = $("#range_Vppir").data("ionRangeSlider");
        var slider_Von = $("#range_Von").data("ionRangeSlider");


            //
            // LED Timming
            //
        $("#range_T3").ionRangeSlider({
            min: 10,
            max: 2000,
            step: 1,
            grid: true,
            hide_min_max: true,
            postfix: "ms",
            force_edges: true,
            from: 10,
            to_fixed: true,
            onChange: function (data) {
                //slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                newConfData.T1 = data.from;
            }
        });
        $("#range_T1").ionRangeSlider({
            min: 15,
            max: 120,
            step: 1,
            grid: true,
            hide_min_max: true,
            postfix: "s",
            force_edges: true,
            from: 15,
            to_fixed: true,
            onChange: function (data) {
                //slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                newConfData.T1 = data.from;
            }
        });
        $("#range_T2").ionRangeSlider({
            min: 5,
            max: 60,
            step: 1,
            grid: true,
            hide_min_max: true,
            postfix: "s",
            force_edges: true,
            from: 5,
            to_fixed: true,
            onChange: function (data) {
                //slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                newConfData.T2 = data.from;
            }
        });
        var slider_T1 = $("#range_T1").data("ionRangeSlider");
        var slider_T2 = $("#range_T2").data("ionRangeSlider");
        var slider_T3 = $("#range_T3").data("ionRangeSlider");



            //
            // LED Intensity
            //
        $("#range_Poff").ionRangeSlider({
            min: 0,
            max: 100,
            step: 1,
            grid: true,
            hide_min_max: true,
            postfix: "%",
            force_edges: true,
            from: 0,
            from_fixed: true,
            onChange: function (data) {
                //slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                //newConfData.T2 = data.from;
            }
        });
        $("#range_Psby").ionRangeSlider({
            min: 0,
            max: 100,
            step: 1,
            grid: true,
            hide_min_max: true,
            postfix: "%",
            force_edges: true,
            from: 0,
            onChange: function (data) {
                //slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                newConfData.P2 = data.from;
            }
        });
        $("#range_PPiroff").ionRangeSlider({
            min: 0,
            max: 100,
            step: 1,
            grid: true,
            hide_min_max: true,
            postfix: "%",
            force_edges: true,
            from: 0,
            onChange: function (data) {
                //slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                newConfData.P1 = data.from;
            }
        });
        $("#range_PPiron").ionRangeSlider({
            min: 0,
            max: 100,
            step: 1,
            grid: true,
            hide_min_max: true,
            postfix: "%",
            force_edges: true,
            from: 0,
            onChange: function (data) {
                //slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                newConfData.PPir = data.from;
            }
        });
        $("#range_Pon").ionRangeSlider({
            min: 0,
            max: 100,
            step: 1,
            grid: true,
            hide_min_max: true,
            postfix: "%",
            force_edges: true,
            from: 0,
            onChange: function (data) {
                //slider_Vppir.update({ to: data.from });
            },
            onFinish: function (data) {
                newConfData.POn = data.from;
            }
        });
        var slider_Psby = $("#range_Psby").data("ionRangeSlider");
        var slider_PPiroff = $("#range_PPiroff").data("ionRangeSlider");
        var slider_PPiron = $("#range_PPiron").data("ionRangeSlider");
        var slider_Pon = $("#range_Pon").data("ionRangeSlider");



        </script>


    @*--------------------------------------------------------------
            Swipe script
        ------------------------------------------------------------*@
    <script>

        $(document).on('swipeleft', '.ui-page', function (event) {
            if (event.handled !== true) // This will prevent event triggering more then once
            {
                var nextpage = $.mobile.activePage.next('[data-role="page"]');
                // swipe using id of next page if exists
                if (nextpage.length > 0) {
                    $.mobile.changePage(nextpage, { transition: "slide", reverse: false }, true, true);
                }
                event.handled = true;
            }
            return false;
        });

        $(document).on('swipeleft swiperight', '.prevent_swipe', function (event) {
            event.stopPropagation();
            event.preventDefault();
        });

        @*http://stackoverflow.com/questions/15723362/prevent-jquery-mobile-swipe-event-over-specific-element*@
        $(document).on('swiperight', '.ui-page', function (event) {
            if (event.handled !== true) // This will prevent event triggering more then once
            {
                var prevpage = $(this).prev('[data-role="page"]');
                if (prevpage.length > 0) {
                    $.mobile.changePage(prevpage, { transition: "slide", reverse: true }, true, true);
                }
                event.handled = true;
            }
            return false;
        });
    </script>


        @*---------------------------------------------------------
             MQTT
        ----------------------------------------------------------- *@
        <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
        <script src="~/Content/js/myMqttClient.js"></script>

        <script>

        function update_confData_elems(cf) {
            console.log(cf);
            localStorage.confData = JSON.stringify(cf);


            // V
            var v1 = (cf.V1 / 1000).toFixed(2);
            var v2 = (cf.V2 / 1000).toFixed(2);
            var v3 = (cf.V3 / 1000).toFixed(2);

            // delete args after comment to change behaviour
            // also have to uncomment the args on the sliders creation
            slider_Voff.update({ to: v3, to_max: v2 });
            slider_Vsby.update({ from: v3, to: v2, to_max: v1,/**/ to_min: v3, from_max: v2 }); 
            slider_Vppir.update({ from: v2, to: v1, from_min: v3, /**/ from_max: v1 }); 
            slider_Von.update({ from: v1, /**/ from_min: v3 });

            // T
            slider_T1.update({ from: cf.T1 });
            slider_T2.update({ from: cf.T2 });
            slider_T3.update({ from: cf.T3 });

            // P
            slider_Psby.update({from: cf.P2, from_max: cf.P1});
            slider_PPiroff.update({from: cf.P1, from_min: cf.P2, from_max: cf.PPir});
            slider_PPiron.update({from: cf.PPir, from_min: cf.P1, from_max: cf.POn});
            slider_Pon.update({from: cf.POn, from_min: cf.PPir});
           


        }

        function filterNewConfData() {

            if (newConfData.V1 && newConfData.V1 == currConfData.V1)
                delete newConfData.V1;
            if (newConfData.V2 && newConfData.V2 == currConfData.V2)
                delete newConfData.V2;
            if (newConfData.V3 && newConfData.V3 == currConfData.V3)
                delete newConfData.V3;

            if (newConfData.T1 && newConfData.T1 == currConfData.T1)
                delete newConfData.T1;
            if (newConfData.T2 && newConfData.T2 == currConfData.T2)
                delete newConfData.T2;
            if (newConfData.T3 && newConfData.T3 == currConfData.T3)
                delete newConfData.T3;

            if (newConfData.P1 && newConfData.P1 == currConfData.P1)
                delete newConfData.P1;
            if (newConfData.P2 && newConfData.P2 == currConfData.P2)
                delete newConfData.P2;
            if (newConfData.PPir && newConfData.PPir == currConfData.PPir)
                delete newConfData.PPir;
            if (newConfData.POn && newConfData.POn == currConfData.POn)
                delete newConfData.POn;

            console.log(newConfData);
        }

        function post_new_confData() {
            
            filterNewConfData();

            if (newConfData.V1)
                myMQTT.publish_put("{V1:" + newConfData.V1 * 1000 + "}");
            if (newConfData.V2)
                myMQTT.publish_put("{V2:" + newConfData.V2 * 1000 + "}");
            if (newConfData.V3)
                myMQTT.publish_put("{V3:" + newConfData.V3 * 1000 + "}");

            if (newConfData.T1)
                myMQTT.publish_put("{T1:" + newConfData.T1 + "}");
            if (newConfData.T2)
                myMQTT.publish_put("{T2:" + newConfData.T2 + "}");
            if (newConfData.T3)
                myMQTT.publish_put("{T3:" + newConfData.T3 + "}");

            if (newConfData.P1)
                myMQTT.publish_put("{P1:" + newConfData.P1 + "}");
            if (newConfData.P2)
                myMQTT.publish_put("{P3:" + newConfData.P3 + "}");
            if (newConfData.PPir)
                myMQTT.publish_put("{PPir:" + newConfData.PPir + "}");
            if (newConfData.POn)
                myMQTT.publish_put("{POn:" + newConfData.POn + "}");
        }

        $(window).ready(function () {
            myMQTT.subscribe_confData(update_confData_elems);
        });


        </script>

</body>

</html>